html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}


body {
  background: #111827;
  color: white;
  font-family: Arial, sans-serif;
}


.app {
  width: 100%;
  height: 100%;
}


.header {
  height: 60px;
  background: #020617;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}


.dashboard {

  display: grid;

  grid-template-columns: 300px 1fr 300px;

  height: calc(100vh - 60px);

}


.panel {

  background: #111827;

  padding: 20px;

  border-right: 1px solid #374151;

}


.map {

  background: #1f2937;

  display:flex;

  justify-content:center;

  align-items:center;

}


select,
button {

  width:100%;

  padding:10px;

  margin-top:10px;

}